- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li= link_to <%= class_name %>.model_name.human.pluralize, <%= index_helper %>_path
    %li.active= <%= class_name %>.model_name.human

.container
  .page-header.clearfix
    %h1.pull-left= <%= class_name %>.model_name.human
    .pull-right{ :style => 'margin-top: 20px' }
      - if can?(:edit, @<%= singular_table_name %>)
        = link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-default pull-right' do
          = fa_icon 'edit'
          = "Edit #{<%= class_name %>.model_name.human}"

  %dl.dl-horizontal
  <%- for attribute in attributes -%>
    %dt= <%= class_name %>.human_attribute_name(:<%= attribute.name %>)
    %dd= @<%= singular_table_name %>.<%= attribute.name %>
  <%- end -%>
