<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

<%- visible_attributes.each do |attribute| -%>
  <%%= f.<%= attribute.reference? ? :association : :input %>(:<%= attribute.name %>) %>
<%- end -%>

  <div class="form-group">
    <%%= f.button(:submit, :class => 'btn btn-primary') %>

    <%%= link_to('Cancel', @<%= singular_table_name %>.persisted? ? @<%= singular_table_name %> : <%= index_helper %>_path,
                :class => 'btn btn-default') %>
  </div>
<%% end %>
