%table.table.table-hover.table-striped
  %thead
    %tr
  <%- visible_attributes.each do |attribute| -%>
      %th= sort_link(@search, :<%= attribute.name %>, <%= class_name%>.human_attribute_name(:<%= attribute.name %>))
  <%- end -%>
      %th
      %th
      %th

  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
  <%- visible_attributes.each do |attribute| -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
  <%- end -%>
        %td
          = link_to('Show', <%= singular_table_name %>)
        %td
          - if can?(:edit, <%= singular_table_name %>)
            = link_to('Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>))
        %td
          - if can?(:destroy, <%= singular_table_name %>)
            = link_to('Destroy', <%= "#{singular_table_name}" %>,
                :method => :delete,
                :data => { :confirm => 'Are you sure?' })
