<%% set_meta_tags(:title => "Edit #{<%= class_name %>.model_name.human}",
                 :noindex => true) %>

<%% content_for(:breadcrumbs) do %>
  <ol class="breadcrumb">
    <li><%%= link_to('Home', root_path) %></li>
    <li><%%= link_to(<%= class_name %>.model_name.human.pluralize, <%= index_helper %>_path) %></li>
    <li><%%= link_to(<%= class_name %>.model_name.human, @<%= singular_table_name %>) %></li>
    <li class="active">Edit</li>
  </ol>
<%% end %>

<div class="page-header">
  <%% if can?(:destroy, @<%= singular_table_name %>) %>
    <%%= link_to(@<%= singular_table_name %>, :class => 'btn btn-danger pull-right',
              <%= ' ' * singular_table_name.length %>     :method => :delete,
              <%= ' ' * singular_table_name.length %>     :data => { :confirm => 'Are you sure?' }
    ) do %>
      <i class="fa fa-trash-o"></i>
      <%%= "Destroy #{<%= class_name %>.model_name.human}" %>
    <%% end %>
  <%% end %>

  <h1><%%= "Edit #{<%= class_name %>.model_name.human}" %></h1>
</div>

<%%= render('tabs') %>
<%%= render('form') %>
