<%% set_meta_tags(:title => <%= class_name %>.model_name.human.pluralize,
                 :canonical => <%= index_helper %>_url) %>

<%% content_for(:breadcrumbs) do %>
  <ol class="breadcrumb">
    <li><%%= link_to('Home', root_path) %></li>
    <li class="active"><%%= <%= class_name %>.model_name.human.pluralize %></li>
  </ol>
<%% end %>

<div class="page-header">
  <div class="page-header-actions">
    <%%= render('search') %>

    <%% if can?(:new, @<%= plural_table_name %>.new) %>
      <%%= link_to(new_<%= singular_table_name %>_path, :class => 'btn btn-sm btn-success') do %>
        <i class="fa fa-plus-circle"></i>
        <%%= "New #{<%= class_name %>.model_name.human}" %>
      <%% end %>
    <%% end %>
  </div>

  <h1><%%= <%= class_name %>.model_name.human.pluralize %></h1>
</div>

<%%= render('table') %>
<%%= paginate(@<%= plural_table_name %>) %>
