!!! 5
%html
  %head
    = display_meta_tags :site => 'Zangetsu', :reverse => true, :separator => '-'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    %navbar.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{ :type => 'button', :data => { :toggle => 'collapse', :target => '#bs-example-navbar-collapse-1' }}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to 'Zangetsu', root_path, :class => 'navbar-brand'

        .collapse.navbar-collapse{ :id => 'bs-example-navbar-collapse-1' }
          %ul.nav.navbar-nav
            / primary navigation

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{ :href => '#', :data => { :toggle => 'dropdown' }}
                  = gravatar_image_tag(current_user.email,
                      :alt => current_user.username,
                      :class => 'avatar',
                      :gravatar => { :filetype => 'png',
                                     :size => 32 })
                  = truncate current_user.username
                  %b.caret

                %ul.dropdown-menu
                  %li
                    = link_to destroy_user_session_path, :method => :delete do
                      = fa_icon 'sign-in'
                      Sign out
            - else
              %li
                = link_to new_user_session_path do
                  = fa_icon 'sign-out'
                  Sign in

    .container
      = yield :breadcrumbs
      = bootstrap_flash

    = yield
