!!!
/[if lt IE 8] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/[if IE 9] <html class="no-js ie9 oldie" lang="en">
<!--[if gt IE 9]><!-->
%html{ :class => 'no-js', :lang => 'en' }<>
  <!--<![endif]-->

  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }

    = display_meta_tags :site => 'Zangetsu', :reverse => true, :separator => '-'
    = csrf_meta_tag

    = stylesheet_link_tag 'application', :media => 'all'

    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'respond'

    = javascript_include_tag 'jquery'

  %body
    %header
      = render 'navbar'

      - if content_for?(:breadcrumbs)
        .container#breadcrumbs
          = yield :breadcrumbs

      - if flash.present?
        .container#flash
          = bootstrap_flash

    %main
      = yield

    %footer
      / something here

    = javascript_include_tag 'application'
