!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }

    = display_meta_tags :site => 'Zangetsu', :reverse => true, :separator => '-'
    = csrf_meta_tag

    = stylesheet_link_tag 'application', :media => 'all'

    / [if lt IE 9]
      = javascript_include_tag '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'
      = javascript_include_tag '//oss.maxcdn.com/respond/1.4.2/respond.min.js'

  %body
    %header
      = render 'navbar'

      - if content_for?(:breadcrumbs)
        .container#breadcrumbs
          = yield :breadcrumbs

      - if flash.present?
        .container#flash
          = bootstrap_flash

    %main
      = yield

    %footer
      / something here

    = javascript_include_tag 'application'
